.container {
  margin: 20px;
  display: flex;
}

table {
  width: 100%;
}

.upload-button {
  margin-left: 20rem;
  position: fixed;
}

.mat-elevation-z8 {
  margin-top: 20px;
}

.file-name {
  width: 50px;
}

.choose-button {
  width: 120px;
}

.file-input {
  width: 100px;
}

.buttons {
  align-content: flex-end;
  display: flex;
}
