.container {
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.top-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
}

table {
  width: 100%;
}

.mat-elevation-z8 {
  margin-top: 20px;
}

.file-name {
  width: 200px;
  display: flex;
  margin-left: 9px;
  justify-content: start;
}

.choose-button {
  width: 120px;
}
