<div class="container">
  <div class="buttons">
  <div class="choose-button">
    <button mat-stroked-button color="primary" (click)="fileInput.click()">Choose File</button>
  </div>
  <div class="file-input">
    <input hidden (change)="onFileSelect($event)" #fileInput type="file">
  </div>
  <div class="file-name">
    <span>{{selectedFile?.name}}</span>
  </div>
  <button class="upload-button" mat-stroked-button color="primary" (click)="uploadFile()">Upload</button>
  </div>
  <table mat-table [dataSource]="employeeData" class="mat-elevation-z8" *ngIf="employeeData.length">

    <ng-container matColumnDef="FirstEmpId">
      <th mat-header-cell *matHeaderCellDef> Employee ID #1 </th>
      <td mat-cell *matCellDef="let element"> {{element.firstEmpId}} </td>
    </ng-container>

    <ng-container matColumnDef="SecondEmpId">
      <th mat-header-cell *matHeaderCellDef> Employee ID #2 </th>
      <td mat-cell *matCellDef="let element"> {{element.secondEmpId}} </td>
    </ng-container>

    <ng-container matColumnDef="ProjectID">
      <th mat-header-cell *matHeaderCellDef> Project ID </th>
      <td mat-cell *matCellDef="let element"> {{element.projectID}} </td>
    </ng-container>

    <ng-container matColumnDef="DaysWorked">
      <th mat-header-cell *matHeaderCellDef> Days Worked </th>
      <td mat-cell *matCellDef="let element"> {{element.daysWorked}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['FirstEmpId', 'SecondEmpId', 'ProjectID', 'DaysWorked']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['FirstEmpId', 'SecondEmpId', 'ProjectID', 'DaysWorked']"></tr>
  </table>
</div>
